tt.larger {
    font-size: larger;
    background-color: lightgray;
}

.operstate {
    text-transform: lowercase;
}

.intfam {
    margin-left: 2em;
}

.bondparent {
    margin-left: 2em;
    font-style: italic;
}

#consolepng {
    cursor: pointer;
}

#consolerow {
    color: #0d6efd;
    cursor: pointer;
    text-decoration: underline;
}

#consolerow:hover {
    color: #0a58ca;
}