# This is imported from core on bootup, and is here as an
# example of how to inject systemd services on boot. They
# are installed and activated by meta/hooks/initrd

[Unit]
Description=Workaround to set sysinfo readable

[Service]
Type=oneshot
User=root
ExecStart=/bin/bash -c "/bin/chmod a+r /sys/class/dmi/id/*"

[Install]
WantedBy=multi-user.target

